<div id="posterframe">
  <!-- This will render the fetched Facebook profile picture using Cloudinary according to the
  requested transformations. This also shows how to chain transformations -->
  <cl-image public-id="officialchucknorrispage" type="facebook" angle="20">
    <cl-transformation format="png" height="95" width="95" crop="thumb" gravity="face" effect="sepia" radius="20"/>
  </cl-image>
</div>

<div class="actions">
  <a class="upload_link" href="#/photos/new">Add photo</a>
</div>

<div class="photos">
  <p ng-if="photos.length === 0 || !photos">No photos were added yet.</p>
  <div class="photo" ng-repeat="photo in photos | orderBy:'version':true">
    <h2>{{ photo.context.custom.photo }}</h2>
    <span ng-init="width = 150; height = 150; crop = 'thumb'; quality = 80; gravity = 'center'; radius = 0; angle = 0"></span>
    <img src="http://res.cloudinary.com/eeosk/image/upload/c_{{crop}},h_{{height}},q_{{quality}},w_{{width}},g_{{gravity}},r_{{radius}},a_{{angle}}/{{photo.public_id}}.jpg">
    <br>
    <form class="form-inline">
      <div class="input-group">
        <div class="input-group-addon">w</div>
        <input class="form-control" type="number" ng-model="width">
      </div>
      <div class="input-group">
        <div class="input-group-addon">h</div>
        <input class="form-control" type="number" ng-model="height">
      </div>
      <select ng-model="crop" ng-options="o for o in ['fit', 'thumb', 'scale', 'fill', 'limit', 'pad', 'crop']" class="form-control"></select>
      <select ng-model="gravity" ng-options="g for g in ['north_west', 'north', 'north_east', 'west', 'center', 'east', 'south_west', 'south', 'south_east', 'face', 'faces']" class="form-control"></select>
      <br>
      <div class="input-group">
        <div class="input-group-addon">r</div>
        <input class="form-control" type="number" ng-model="radius">
      </div>
      <div class="input-group">
        <div class="input-group-addon">a</div>
        <input class="form-control" type="number" ng-model="angle">
      </div>
    </form>

    <!--
    <a cl-href="{{photo.public_id}}" format="jpg" target="_blank">
      <cl-image public-id="{{photo.public_id}}" class="thumbnail inline" width="{{ width }}" height="{{ height }}" crop="{{ crop }}" quality="{{ quality }}" format="jpg"/>
    </a>
    -->

    <div class="less_info">
      <button class="toggle_info" style="cursor: true" ng-click="shown=true" ng-init="shown=false" ng-show="shown === false">Show transformations</button>
    </div>
    <div class="more_info" ng-show="shown === true">
      <button class="toggle_info" ng-click="shown=false">Hide transformations</button>
      <table class="thumbnails">
        <tr>
          <td>
            <div class="thumbnail_holder">
              <cl-image public-id="{{photo.public_id}}" class="thumbnail inline" crop="fill" height="150" width="150" radius="10" format="jpg"/>
            </div>
            <table class="info">
              <tr><td>crop</td><td>fill</td></tr>
              <tr><td>width</td><td>150</td></tr>
              <tr><td>height</td><td>150</td></tr>
              <tr><td>radius</td><td>10</td></tr>
            </table>
            <br/>
          </td>
          <td>
            <div class="thumbnail_holder">
              <cl-image public-id="{{photo.public_id}}" class="thumbnail inline" crop="scale" height="150" width="150" format="jpg"/>
            </div>
            <table class="info">
              <tr><td>crop</td><td>scale</td></tr>
              <tr><td>width</td><td>150</td></tr>
              <tr><td>height</td><td>150</td></tr>
            </table>
            <br/>
          </td>
          <td>
            <div class="thumbnail_holder">
              <cl-image public-id="{{photo.public_id}}" class="thumbnail inline" crop="fit" height="150" width="150" format="jpg"/>
            </div>
            <table class="info">
              <tr><td>crop</td><td>fit</td></tr>
              <tr><td>width</td><td>150</td></tr>
              <tr><td>height</td><td>150</td></tr>
            </table>
            <br/>
          </td>
          <td>
            <div class="thumbnail_holder">
              <cl-image public-id="{{photo.public_id}}" class="thumbnail inline" crop="thumb" gravity="face" height="150" width="150" format="jpg"/>
            </div>
            <table class="info">
              <tr><td>crop</td><td>thumb</td></tr>
              <tr><td>gravity</td><td>face</td></tr>
              <tr><td>width</td><td>150</td></tr>
              <tr><td>height</td><td>150</td></tr>
            </table>
            <br/>
          </td>
          <td>
            <div class="thumbnail_holder">
              <cl-image public-id="{{photo.public_id}}" class="thumbnail inline" angle="20" format="jpg">
                <cl-transformation height="150" width="150" crop="fill" gravity="north" effect="sepia" radius="20"/>
              </cl-image>
            </div>
            <table class="info">
              <tr><td>crop</td><td>fill</td></tr>
              <tr><td>effect</td><td>sepia</td></tr>
              <tr><td>gravity</td><td>north</td></tr>
              <tr><td>width</td><td>150</td></tr>
              <tr><td>height</td><td>150</td></tr>
              <tr><td>then</td><td></td></tr>
              <tr><td>angle</td><td>20</td></tr>
            </table>
            <br/>
          </td>
      </tr>
      </table>
    </div>
  </div>
  <div class="note">
    Take a look at our documentation of <a href="http://cloudinary.com/documentation/image_transformations" target="_blank">Image Transformations</a> for a full list of supported transformations.
  </div>
</div>
</div>
</div>
</div>
